<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiScape</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<div class="wrapper">
    <header>
        <h1 class="has-text-black px-3 py-3 has-text-weight-bold">DigiScape</h1>
        <nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
            <a href="/dash" class="navbar-item is-hoverable pt-1">Dashboard</a>
            <a href="/dash/post/" class="button is-primary navbar-item is-hoverable pt-1 mr-4" id="createPost">Create Post</a>
            <button id="logout" class="button is-danger">Logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
            <a href="/login" class="button is-primary">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
                <a href="/">Home</a>{{#if loggedIn}} |
                <a href="/dash/">Dashboard</a> |
                <a href="/dash/post/">Create New Post</a>
                {{else}}
                | <a href="/login/">Login</a>
                {{/if}}
            </p>
        </div>
        <div class="row-is-full content has-text-centered">
            <p>
                <a class="footerText" href="https://github.com/uglyb0nes/digiscape">© DigiScape 2021</a>
            </p>
        </div>
    </footer>
</div>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>