<div class="column">
    <h2 class="title pb-4">LOGIN</h2>
    <hr>
    <form class="login">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" />
        </div>
        <div>
            <button type="submit" class="button is-link is-focused">Login</button>
            <a href="/signup"><button type="button" class="button is-link is-inverted">Create New Account</button></a>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>