<section>
    <a href="/dash" class="is-pulled-right"> &larr; Back to Dashboard</a>
    <h2 class="title">New Post</h2>
    <hr>

    <form class="post">
        <div>
            <label for="title">Title:</label>
            <input class="input" type="text" id="title" name="title" placeholder="Blog Title" />
        </div>
        <div>
            <label for="content">Content:</label>
            <input class="textarea is-large" id="content" name="content" placeholder="Blog Content" />
        </div>
        <button type="submit" class="button is-primary is-pulled-right">Create Post</button>
    </form>
</section>

<script src="/js/post.js"></script>