<div class="column">
    <h2 class="title pb-4">Create New Account:</h2>
    <hr>
    <form class="signup">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" />
        </div>
        <div>
            <button type="submit" class="button is-primary">Complete Registration</button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>